{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all">

  <link rel="canonical" href="">

  <title>POStux</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'JQuery/jquery.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body lang="en">
  <div class="page-header">
{#    <h1 id="title">Zarzadzanie parkingami</h1>#}
      <div class="top-menu">
        {% include "Sklep/nav.html"  %}
      </div>
  </div>

  <div id="main" class="container-fluid" role="main">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>