{% load staticfiles %}
{% load auth_extras %}
{#todo zmiana aktywnej zakladki nie dziala#}
<ul class="nav nav-tabs">
    {% if user.is_authenticated %}
        {% if user|has_group:"Kierownik" or user|has_group:"Admin" %}
{#            <li><a href="pracownicy">Pracownicy</a></li>#}
            <li><a href="zamowienia">Zamówienia</a></li>
            <li><a href="produkty">Edycja produktów</a></li>
        {% endif %}
        {% if user|has_group:"Sprzedawca" or  user|has_group:"Kierownik" or user|has_group:"Admin"%}
        <li class="active"><a href="transakcje">Tworzenie transakcji</a></li>
        {% endif %}
        <li><a href="stanymagazynowe">Stan magazynowy</a></li>


    {% else %}
        <div class="center-block col-sm-1 text-left">
{#            <li id="logo-text-postux">Postux</li>#}
            <img src="{% static 'png/postuxlogosmall.png' %}" class="img-responsive center-block" alt="Responsive image">
        </div>
    {% endif %}

    <div class="col-md-5 text-right pull-right logout-box">

        {% if user.is_authenticated %}
            <li class="logged"> Zalogowany użytkownik: <b>{{ user.first_name }}  {{ user.last_name }}</b>({% for g in user.groups.all %}<i>{{ g.name }}</i>{% endfor %}) <a href="/logout/">wyloguj się</a>
                <p class="hidden" id="username">{{ user.username }}</p>
            </li>
        {% else %}
            <li style="font-size: large"><a href="/sklep/login/">Zaloguj się</a></li>
            {#            <li><a href="/sklep/register/">Rejestracja</a></li>#}
        {% endif %}


        {#      R. Kowalski: <a href="#" class="">wyloguj</a>#}
    </div>
</ul>
