{% extends 'Sklep/base.html' %}
{% block content %}

    <div class="container-fluid" id="ptx-employee-view">
        <div class="row">
            <div class="col-sm-6 grid-spacer">
                <input type="text" class="form-control input-block-level input-lg" placeholder="Szukaj...">
                <div class="pre-scrollable">
                    {% if listOfEmployees %}
                        <table id="employees-in-store" class="table table-striped table-bordered">
                            <tr>
                                {% for n in Employees_field_names %}
                                    <td class="cell-field">{{ n }}</td>
                                {% endfor %}
                            </tr>
                            {% for employee in listOfEmployees %}
                                <tr class="item">
                                    <td class="employee-fulname">{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
                                    <td class="employee-login"> {{ employee.user.username }}</td>
                                    <td class="employeee-type"> {% for g in  employee.user.groups.all %}{{ g.name }}{% endfor %}</td>
                                    <td class="cell-button"><a href="#" id="product{{ employee.idpracownika }}">&gt;</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Brak produktów</p>
                    {% endif %}

                </div>
            </div>

{#        todo Baw sie dalej :D #TALAR#}
            <div class="col-sm-6">
                <table id="client-details" class="table table-striped table-bordered">
                    <tr>
                        <td class="client-name">&mdash;</td>
                        <td>&mdash;</td>
                    </tr>
                    <tr>
                        <td>
                            <small>NIP:</small> &mdash;</td>
                        <td>
                            <small>REGON:</small> &mdash;</td>
                    </tr>
                    <tr>
                        <td>
                            <small id="modal-order-sum">Wartość zam.:</small>
                        </td>
                        <td class="client-email">&mdash;</td>
                    </tr>
                    <tr>
                        <td class="cell-button c-b-large"><a href="#">Potwierdź i drukuj</a></td>
                        <td class="cell-button c-b-large"><a href="#">Potwierdź</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}