{% extends 'Sklep/base.html' %}
{% block content %}

    <div class="container-fluid" id="ptx-edit-products-view">
        <div class="row">
            <div class="col-sm-6 grid-spacer">
                <div>
                    <!-- lista produktów -->
                    {% if listOfProduct %}
                        <table id="ptx-products-in-store" class="display table table-striped table-bordered">
                            <thead>
                                <tr>
                                    {% for n in Product_field_names %}
                                        <th class="cell-field">{{ n }}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in listOfProduct %}
                                    <tr class="ptx-item">
                                        <td class="ptx-product-name">{{ product.nazwa }}</td>
                                        <td class="ptx-product-price">{{ product.cena }}</td>
                                        <td class="ptx-product-quantity"> {{ product.ilosc }}</td>
                                        <td class="cell-button"><a  class="ptx-load-product-btn ptx-btn-withid" href="#" itemid="{{ product.idprzedmiotu }}">dodaj</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </tbody>
                        </table>
                    {% else %}
                        <p>Brak produktów</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 grid-spacer">
                <form class="form-horizontal" id="ptx-product-details">
                    <div class="form-group">
                        <input name="ptx-productname" class="form-control" placeholder="Nazwa produktu">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <select name="ptx-category" class="form-control col-xs-6">
                                <option>Kategoria</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="ptx-producer" class="form-control col-xs-6">
                                <option>Producent</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="ptx-price" class="form-control" placeholder="Cena">
                    </div>
                    <div class="form-group">
                        <textarea name="ptx-description" class="form-control">Opis produktu...</textarea>
                    </div>
                </form>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="submit" value="Zapisz zmiany" name="ptx-save-edited-product" class="ptx-save-product-btn">
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" value="Dodaj jako nowy" name="ptx-add-new-product" class="ptx-save-product-btn">
                        </div>
                    </div>

{#                {#}
{#                  "name": "jakisname2",#}
{#                  "producer": "Logitech",#}
{#                  "price": "10.50",#}
{#                  "category": "Myszki",#}
{#                  "idproduct": 3,#}
{#                  "desc": "testtestowy"#}
{#                }#}



            </div>
        </div>
    </div>

{% endblock %}