{% extends 'Sklep/base.html' %}
{% block content %}

<div class="container-fluid" id="ptx-stock-view">
	<div class="row">
		<div class="col-sm-6 grid-spacer">
			<!-- <input type="text" class="form-control input-block-level input-lg" placeholder="Szukaj..."> -->
			<div class="">
                    {% if listOfProduct %}
                        <table id="ptx-products-in-store" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    {% for n in Product_field_names %}
                                        <th class="cell-field">{{ n }}</th>
                                    {% endfor %}
                                <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in listOfProduct %}
                                    <tr class="ptx-item">
                                        <td class="ptx-product-name">{{ product.nazwa }}</td>
                                        <td class="ptx-product-id">{{ product.idprzedmiotu }}</td>
                                        <td class="ptx-product-price"> {{ product.cena }}</td>
                                        <td class="ptx-product-quantity"> {{ product.ilosc }}</td>
                                        <td class="cell-button"><a href="#" class="ptx-choose-product-btn" id="{{ product.idprzedmiotu }}">&gt;</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Brak produktów</p>
                    {% endif %}

			</div>
		</div>

		<div class="col-sm-6 grid-spacer">
			<div class="">
{#                <small>Modyfikuj stan:</small>#}
				<table id='ptx-item-details' class="table table-striped table-bordered">
                    <tr>
                        <td colspan="2">Modyfikuj stan:</td>
                    </tr>
                    <tr>
                        <td style="width:60%" class="ptx-item-name"><em>Nazwa produktu</em></td>
                        <td>
                            <form class="form-inline ptx-current-item-quantity">
								<input type="text" class="units" value="0" onClick="this.setSelectionRange(0, this.value.length)"> szt.
							</form>
                        </td>
                    </tr>
                    <tr>
                        <td class="ptx-item-category"><em>Kategoria</em></td>
                        <td class="ptx-item-producer"><em>Producent</em></td>
                    </tr>
                    <tr>
                        <td class="ptx-product-id"><em>ID</em></td>
                        <td class="cell-button">
                            <a href="#" class="ptx-save-changes-btn">Zapisz<br />zmianę</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br />Dodaj nowe produkty</td>
                    </tr>
                    <tr>
                        <td class="ptx-new-item-quantity">
                            <input type="text" class="units" value="0" onClick="this.setSelectionRange(0, this.value.length)"> szt.
                        </td>
                        <td class="cell-button">
                            <a href="#" class="ptx-add-new-items-btn">Dodaj</a>
                        </td>
                    </tr>
				</table>
			</div>
		</div>
	</div>


</div>
{% endblock %}