{% extends 'Sklep/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid" id="ptx-transaction-view">
	<div class="row">
		<div class="col-sm-6 grid-spacer">
			<!--<input type="text" id="ptx-products-in-store-filter" class="form-control input-block-level input-lg" placeholder="Szukaj...">
			-->
			<div class="">
                    {% if listOfProduct %}
                        <table id="ptx-products-in-store" class="display table table-striped table-bordered">
                            <thead>
                                <tr>
                                    {% for n in Product_field_names %}
                                        <th class="cell-field">{{ n }}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in listOfProduct %}
                                    <tr class="ptx-item">
                                        <td class="ptx-product-name">{{ product.nazwa }}</td>
                                        <td class="ptx-product-price">{{ product.cena }}</td>
                                        <td class="ptx-product-quantity"> {{ product.ilosc }}</td>
                                        <td class="cell-button"><a  class="ptx-add-product-btn ptx-btn-withid" href="#" id="{{ product.idprzedmiotu }}">dodaj</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Brak produktów</p>
                    {% endif %}
			</div>

			<div class="pre-scrollable" id="ptx-product-description">
			<em>Kliknij na nazwę produktu aby wyświetlić szczegółowy opis...</em>
			</div>
		</div>

		<div class="col-sm-6 grid-spacer">
			<div class="pre-scrollable">
				<table id="ptx-products-in-order" class="table table-striped table-bordered">
                    <tr>
                        {% for n in Product_field_names2 %}
                            <td class="cell-field">{{ n }}</td>
                        {% endfor %}
                    </tr>

					<!--<tr class="ptx-item">
						<td class="ptx-product-name">Iphone S7</td>
						<td class="ptx-product-price">2889.00</td>
						<td class="ptx-product-quantity">
							<form class="form-inline">
								<input type="text" class="units" value="10" onClick="this.setSelectionRange(0, this.value.length)"> szt.
							</form>
						</td>
						<td class="cell-button"><a class="ptx-save-changes-btn ptx-btn-withid" href="#" class="">Zapisz<br />zmianę</a></td>
					</tr>-->
				</table>
			</div>
			<div class="form-group text-left">
				<label id ="cos" for="sum">Suma:</label>
		    	<input id="ptx-ordersum-value" disabled type="text" class="form-control input-block-level input-lg text-right" placeholder="2968.98 PLN" id="sum">
		    </div>
		    <div class="row grid-spacer">
		    	<div class="col-sm-6">
		    		<a id="ptx-approve-order-btn" class="btn btn-lg btn-default btn-block" href="#" role="button">RACHUNEK</a>
		    	</div>
		    	<div class="col-sm-6">
		    		<a type="button" class="btn btn-lg btn-default btn-block" href="#" role="button" data-toggle="modal" data-target="#clientModal">FAKTURA</a>
		    	</div>
		    	<div class="col-sm-12">
		    		<p class="description">Aby wystawić fakturę, wybierz odpowiedni przycisk&nbsp;i&nbsp;w następnym oknie uzupełnij dane klienta.</p>
		    	</div>
		    </div>
		</div>
	</div>
	<!-- /Tworzenie transakcji -->










	<!-- Modal Wybor Klienta -->
	<div id="clientModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <div class="container-fluid">
	        	<h4 class="modal-title">Wybierz klienta</h4>
	        </div>
	      </div>
	      <div class="modal-body">
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-sm-6">
	        			<!--<input type="text" class="form-control input-block-level input-lg" placeholder="Szukaj...">-->
						<div class="">
                                {% if listOfKlients %}
                                    <table id="ptx-table-of-clients" class="table table-striped table-bordered">
                                        <thead>
                                              <tr>
                                                {% for n in Klienci_field_names %}
                                                    <th class="cell-field">{{ n }}</th>
                                                {% endfor %}
                                                <th></th>
                                              </tr>
                                        </thead>
                                        <tbody>
                                            {% for klient in listOfKlients %}
                                                <tr id="{{ klient.idKlienta }}">
                                                    <td class="ptx-client-name">{{ klient.nazwa }}</td>
                                                    <td class="ptx-client-address">{{ klient.adres }}</td>
                                                    <td class="ptx-client-regon">{{ klient.regon }}</td>
                                                    <td class="ptx-client-nip">{{ klient.nip }}</td>
                                                    <td class="ptx-client-email">{{ klient.email }}</td>
                                                    <td class="cell-button"><a class="ptx-choose-client-btn" href="#">&#9658;</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>Brak Klientów</p>
                                {% endif %}
						</div>

						<div class="form-group container-fluid">
                            <div class="col-sm-12">
                                <p class="">Nowy klient:</p>
                            </div>
                            <form class="form-group" id="ptx-new-client-form">
                                <input type="text" name="ptx-address" maxlength="100" placeholder="Adres..." class="col-sm-6 no-padding">
                                <input type="text" name="ptx-name" maxlength="45" placeholder="Name...*" required="" class="col-sm-6 no-padding">
                                <input type="text" name="ptx-nip" maxlength="10" placeholder="Nip..." class="col-sm-6 no-padding">
                                <input type="text" name="ptx-regon" maxlength="14" placeholder="Regon..." class="col-sm-6 no-padding">
                                <input type="text" name="ptx-email" maxlength="255" placeholder="email...*" required="" class="col-sm-6 no-padding">
                                <button type="submit" class="btn btn-sm btn-default btn-inline col-sm-6" id="ptx-submit-new-client">Dodaj nowego klienta</button>
                            </form>

						</div>

	        		</div>
	        		<div class="col-sm-6">
	        			<table id="ptx-client-details" class="table table-striped table-bordered">
	        				<tr>
	        					<td class="ptx-client-name">&mdash;</td>
                                <td class="ptx-client-address">&mdash;</td>
	        				</tr>
	        				<tr>
	        					<td class="ptx-client-nip"><small>NIP:</small> &mdash;</td>
                                <td class="ptx-client-regon"><small>REGON:</small> &mdash;</td>
	        				</tr>
	        				<tr>
	        					<td><small id="ptx-modal-order-sum">Wartość zam.:</small></td>
                                <td class="ptx-client-email">&mdash;</td>
	        				</tr>
	        				<!--<tr>
	        					<td class="cell-button c-b-large"><a href="#">Potwierdź i drukuj</a></td>
	        					<td class="cell-button c-b-large"><a href="#">Potwierdź</a></td>
	        				</tr>-->
	        			</table>
	        			<div class="row grid-spacer">
					    	<div class="col-sm-6">
					    		<a class="ptx-approve-client-order-btn btn btn-lg btn-default btn-block" href="#" role="button">
					    			<span class="glyphicon glyphicon-ok-sign"></span>
					    		 	<span class="glyphicon glyphicon-print"></span>
					    		 	<small style="display: block;">Potwierdź i drukuj</small>
					    		 </a>
					    	</div>
					    	<div class="col-sm-6">
					    		<a class="ptx-approve-client-order-btn btn btn-lg btn-default btn-block" href="#" role="button">
					    			<span class="glyphicon glyphicon-ok-sign"></span>
					    		 	<small style="display: block;">Potwierdź</small>
					    		</a>
					    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-sm-12">
					    		<p class="description">Po zatwierdzeniu zamówienia, zostanie ono dodane do bazy zamówień, a stan magazynowy ulegnie zmianie. Prosimy&nbsp;o sprawdzenie danych. Do anulowania zamówień, uprawnienia ma jedynie administrator.</p>
					    		<p class="description">Drukowanie odbywa się za pomocą okna systemowego przeglądarki.</p>
					    		<img src="{% static 'png/postuxlogosmall.png' %}" class="img-responsive center-block" alt="Responsive image">
					    	</div>
					    </div>

	        		</div>
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /Modal Wybor Klienta -->



</div>
{% endblock %}