{% extends 'Sklep/base.html' %}
{% block content %}

    <div class="container-fluid" id="ptx-order-details-view">
        <div class="row">
            <div class="col-sm-6 grid-spacer">
{#                <input type="text" class="form-control input-block-level input-lg" placeholder="Szukaj...">#}
                <div class="">
                    {% if listOfDocuments %}
                        <table id="documents-in-store" class="table table-striped table-bdocumented">
                            <thead>
                                <tr>
                                    {% for n in Document_field_names %}
                                        <th class="cell-field">{{ n }}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in listOfDocuments %}
                                    <tr class="item">
                                        <td class="document-id">{{ document.iddokumentusprzedazy}}</td>
                                        <td class="document-idpracownika"> {{ document.idpracownika.user.first_name }} {{ document.idpracownika.user.last_name }}</td>
                                        <td class="document-idklienta"> {{ document.idklienta }}</td>
                                        <td class="document-type"> {{ document.typdokumentu_idtypu}}</td>
                                        <td class="document-cancel"> {% if document.anulowane %} {{ "tak" }} {% endif %}</td>
                                        <td class="document-date"> {{ document.datasprzedazy}}</td>
                                        <td class="cell-button">
                                            <a class="ptx-view-order-details-btn" href="#" id="{{ document.iddokumentusprzedazy }}">&gt;</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Brak zamówień</p>
                    {% endif %}

                </div>


            </div>

        <div class="col-sm-6 grid-spacer">
            <table id="ptx-order-details" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Ilość</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3"><em>Wybierz zamówienie z listy po lewej aby wyświetlić szczegóły.</em></td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
    </div>
{% endblock %}