{% extends 'Sklep/base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}

<div class="container ">
<div class="row center-block">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-block text-center" align="center">

    <form method="post" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Zaloguj się</h2>
        <label for="{{ form.username.name }}" class="sr-only">Użytkownik</label>
        <input type="{{ form.username.name }}" name="{{ form.username.name }}" id="{{ form.username.name }}" class="form-control" placeholder="Nazwa użytkownika" required="" autofocus="">
        <label for="{{ form.password.name }}" class="sr-only">Password</label>
        <input type="{{ form.password.name }}" id="{{ form.password.name }}" name="{{ form.password.name }}" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    </form>
        </div>
        <div class="col-md-4"></div>
</div>
</div>

{% endblock %}
<h2>Logowanie</h2>
    <h1>{{ message }}</h1>
    <form method="post">
        {% csrf_token %}
       {{ form.username.name }}
        <button type="submit">Login</button>
    </form>