/* Bootstrap customisation */
.table>tbody>tr>td { vertical-align: middle; }
.page-header { margin:0; padding-bottom:0 !important; }

input.units { width:2em; text-align: center; }

.btn-default {border-radius:0;transition: 0.25s; background: #555;color:#fff;}
.btn-default:hover {background: #337ab7; color:#fff; background: #888;}

.form-control { border-radius: 0; }
.form-control[disabled] { cursor:default; }

td.cell-button{width:3em; background: #555; transition: 0.25s; padding: 0 !important;}
td.cell-field{background: #555; transition: 0.25s; padding: 10px !important; color: #ffffff}
td.cell-button:hover {background: #888;}
td.cell-button a {color:#fff; font-size: 80%; display: block; text-align: center; padding: 8px;}
td.cell-button a:hover {text-decoration: none;}
th { background: #555; color: #fff; font-weight: normal;}
/* Custom layout */
div.logout-box {font-size: 8pt;padding: 1em;}
div.logout-box li { display: inline; margin-left: 1em;}

.grid-spacer { padding-top: 1.5em; }


.description {
  color:#c1c1c1;
}
p.description {
  margin-top:1em;
  text-align: justify;
}

#ptx-transaction-view tr.ptx-item td.ptx-product-name:hover {
    cursor: pointer;
    background: rgba(1,1,1,0.1);
}

a.btn > small { font-size: 9pt; }
a.btn > span.glyphicon { font-size: 20pt; }
.no-padding {padding-left: 0 !important; padding-right: 0 !important;}

    .modal-dialog {
        width: 100%;
        margin: 30px auto;
    }

    .modal-content {
        width: 95%;
        margin: 30px auto;

    }
.dataTables_filter label { width:100%;}
.dataTables_filter label input {
    display: block;
    width:100%;
    line-height: 1.33;
    font-weight: normal;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px 16px;
    color: #555;
}
.dataTables_scrollHeadInner table {
    margin-bottom: 0 !important;
}

table { width: 100%;}

#ptx-stock-view #ptx-item-details td em {
    color: rgba(0,0,0,0.3);
}

