
  	.table>tbody>tr>td { vertical-align: middle; }
  	input.units { width:2em; text-align: center; }
  	.grid-spacer { padding-top: 1.5em; }
  	.btn-default {border-radius:0;transition: 0.25s; background: #555;color:#fff;}
  	.btn-default:hover {background: #337ab7; color:#fff; background: #888;}
  	.form-control { border-radius: 0; }
  	.form-control[disabled] { cursor:default; }
  	td.cell-button{width:3em; background: #555; transition: 0.25s; padding: 0 !important;}
  	td.cell-button:hover {background: #888;}
  	td.cell-button a {color:#fff; font-size: 80%; display: block; text-align: center; padding: 8px;}
  	td.cell-button a:hover {text-decoration: none;}
  	div.logout-box {font-size: 8pt;padding: 1em;}


.description {
  color:#c1c1c1;
}
p.description {
  margin-top:1em;
  text-align: justify;
}

a.btn > small { font-size: 9pt; }
a.btn > span.glyphicon { font-size: 20pt; }
.no-padding {padding-left: 0 !important; padding-right: 0 !important;}
@media (max-width: 992px){
.modal-dialog {
    max-width: 850px;
    width: 100%;
    margin: 30px auto;
}